body {
	font-family: "Tahoma";
}

h1 {
	background-color: #57B4D0;
	color: #ffffff;
	padding: 5px;
}
.classy-header {
	background-color: #57B4D0;
	padding: 5px;
	color: #ffffff;
}
.content {
	margin: 1rem auto;
	max-width: 60rem;
	padding: 0 1rem;
}
.go-home {
	margin-right: auto;
	margin-left: auto;
	width: 500px;
}
